
/*----------------------- General ---------------- */

body {
  color:black;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-image: url("../pics/background2.jpg");
  background-size: cover;
  overflow: cover;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:Grey;
  cursor: pointer;
}

img  {
  width: 100%;

}



/*--------------------- Typography ---------------- */

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}