
/*---------------------- Home ---------------- */




.main {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  height: 30rem;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.box {
background-color: rgba(192,192,192,0.7);
border: 1px solid black;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

.box h1,
.box h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.project-template{
  padding-top: 13rem;
  width: 100%;

}

.wrapper{
  display: flex;
  flex-direction: row;
}
.wrapper div{
  padding-left: 0.5rem;
}

.buttons{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.icon-home {
  font-size: 2.3rem; 
  margin: 0 0.5rem;
}


/*---------------------- Navigation ---------------- */

.main-nav {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  
}

.nav-ul {
  display: flex;
  flex-direction: row;  
}

.nav-ul:hover {
cursor: pointer;
}


.main-nav h3{
  padding: 0 5px;
}




/*---------------------- Footer ---------------- */

footer {
  margin-top: 15rem;
  position: relative;
  bottom: 1px;
}

footer p {
  background-color: rgba(105,105,105,0.6);
}